/* .register-container {
    width: 100%;
    padding: 1em; 
    display: flex;
    align-items: stretch;
    justify-content: space-around;
  }
  
  .child {
    width: 100%;
    background: white;
    color: grey;
    min-height: 100%;
  } 
  */